.text-shadow-1 {
  text-shadow: 0px 0px 4px rgba( 0, 0, 0, 0.2 )
}

.text-shadow-2 {
  text-shadow: 0px 0px 8px rgba( 0, 0, 0, 0.2 )
}

.text-shadow-3 {
  text-shadow: 2px 2px 4px rgba( 0, 0, 0, 0.2 )
}

.text-shadow-4 {
  text-shadow: 2px 2px 8px rgba( 0, 0, 0, 0.2 )
}

.text-shadow-5 {
  text-shadow: 4px 4px 8px rgba( 0, 0, 0, 0.2 )
}

.text-shadow-1-ns {
  text-shadow: 0px 0px 4px rgba( 0, 0, 0, 0.2 )
}

.text-shadow-2-ns {
  text-shadow: 0px 0px 8px rgba( 0, 0, 0, 0.2 )
}

.text-shadow-3-ns {
  text-shadow: 2px 2px 4px rgba( 0, 0, 0, 0.2 )
}

.text-shadow-4-ns {
  text-shadow: 2px 2px 8px rgba( 0, 0, 0, 0.2 )
}

.text-shadow-5-ns {
  text-shadow: 4px 4px 8px rgba( 0, 0, 0, 0.2 )
}

.text-shadow-1-m {
  text-shadow: 0px 0px 4px rgba( 0, 0, 0, 0.2 )
}

.text-shadow-2-m {
  text-shadow: 0px 0px 8px rgba( 0, 0, 0, 0.2 )
}

.text-shadow-3-m {
  text-shadow: 2px 2px 4px rgba( 0, 0, 0, 0.2 )
}

.text-shadow-4-m {
  text-shadow: 2px 2px 8px rgba( 0, 0, 0, 0.2 )
}

.text-shadow-5-m {
  text-shadow: 4px 4px 8px rgba( 0, 0, 0, 0.2 )
}

.text-shadow-1-l {
  text-shadow: 0px 0px 4px rgba( 0, 0, 0, 0.2 )
}

.text-shadow-2-l {
  text-shadow: 0px 0px 8px rgba( 0, 0, 0, 0.2 )
}

.text-shadow-3-l {
  text-shadow: 2px 2px 4px rgba( 0, 0, 0, 0.2 )
}

.text-shadow-4-l {
  text-shadow: 2px 2px 8px rgba( 0, 0, 0, 0.2 )
}

.text-shadow-5-l {
  text-shadow: 4px 4px 8px rgba( 0, 0, 0, 0.2 )
}
